* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background: linear-gradient(120deg, #003, #05f);
    height: 100vh;
}

#message-box {
    height: 40px;
    width: 100%;
    position: fixed;
    bottom: 2vh;
    display: flex;
    justify-content: center;
}

#texto {
    width: 80%;
    border: none;
    border-radius: 20px;
    background-color: #55a;
    color: aliceblue;
    font-weight: bold;
    outline: none;
    padding: 10px;
}
button {
    width: 60px;
    border-radius: 15px;
}

.text-container {
    display: flex;
    margin-top: 1vh;
}

.mensaje {
    background-color: cadetblue;
    padding: 25px;
    max-width: 30%;
    margin-left: 20px;
    border-radius: 1em;
    color: antiquewhite;
    font-size: medium;
    font-weight: bold;
}

.mensaje-enviado {
    max-width: 30%;
    font-weight: bold;
    background-color: cadetblue;
    
    margin-right: 20px;
    margin-left: auto;
    border-radius: 1em;
    padding: 25px;
    color: antiquewhite;
    font-size: medium;
}